@font-face {
    font-family: "tenor";
    src: local("TenorSans-Regular"),
    url("../fonts/TenorSans-Regular.ttf") format("truetype");
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');
.font-tenor {
    font-family: 'tenor';
}
.font-inter {
    font-family: "Inter", sans-serif;
}